@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-size: auto;
}

#log-in-btn {
    background-color: #0956cc;
}

#log-in-btn:hover {
    background-color: #0D6EFD;
}

.error-message {
    font-size: small;
    margin-bottom: 15px;
    color: transparent;
    display: inline-block;
    transition: color .2s ease-in;
}